stages:
  - build
  - update-gitops

variables:
  IMAGE_NAME: registry.gitlab.com/python1264911/app-vibe

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  only:
    - main

update-gitops:
  stage: update-gitops
  image: alpine:3.19
  before_script:
    - apk add --no-cache git yq
  script:
    - git clone https://oauth2:${GITOPS_TOKEN}@github.com/yvesmatos13/app-vibe-gitops.git
    - cd app-vibe-gitops/helm
    - yq -i '.image.tag = strenv(CI_COMMIT_SHORT_SHA)' values.yaml
    - git config user.email "ci@gitlab"
    - git config user.name "gitlab-ci"
    - git add values.yaml
    - git commit -m "update image to $CI_COMMIT_SHORT_SHA"
    - git push
  only:
    - main
